<section class="banner">
    <img src="./assets/madrid.webp" alt="Madrid image">

    <app-clock></app-clock>
    <div class="text-container">
        <p class="text-footer" [innerHTML]=message></p>

        <div class="text-input-container" [class.incorrect]="incorrectAnswer">
            <input type="text" class="text-input" [(ngModel)]="inputText" (input)="onInputChange()">
            <button class="question-button" (click)="validateText()"><i class="fa fa-question icon"></i></button>
        </div>

    </div>
    <!-- <app-treasure-chest [isOpen] = "isOpen" (click)="openChest()"></app-treasure-chest> -->
</section>